<div id="header">
    <div>
        <div id="logo">
            <a href="index.html"><img src="~/images/logo.png" alt="LOGO"></a>
        </div>
        <ul id="navigation">
            <li>
              @Html.ActionLink("PROFİL", "Profile", "User")
            </li>
            <li>
                @Html.ActionLink("ANASAYFA","Homepage","User")
            </li>
            <li>
                <a href="services.html">Services</a>
            </li>
            <li>
                <a href="blog.html">Blog</a>
            </li>
            <li class="selected">
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
</div>
   